.curent-step {
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-figure-wrapper {
  min-width: 150px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-figure {
  cursor: pointer;
}

.new-figure__row {
  display: flex;
}

.new-figure__cell {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid lightgrey;
}
